.Dictionary {
  text-align: center;
  margin: 30px 0px;
}

.Dictionary section {
  background: #efffff;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #315e5a;
}

.Dictionary .hint {
  margin-top: 5px;
  font-size: small;
}
