@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

body {
  margin: 0;
  font-family: "Pangolin", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #add3d3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #c67a49;
}
